*{max-width: 1600px;
margin: 0px auto;
padding: 0px;
box-sizing: border-box;}

/* share style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}

.color-orange{
  color: #FD6E0A;
}

.btn{
  background-color: #FD6E0A;
  padding: 18px 35px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  border: none;
  border-radius: 5px;

}
/* Main style */

header{
  background-color: #FFF8F3;
padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
justify-content: space-between;
align-items: center;
}

nav .menu{
display: flex;
list-style-type: none;
gap: 51px;
align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#bannar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 38px 0px 230px;
}

#bannar .bannar_content{
  max-width: 585px;
}
#bannar .bannar_content h2 {
font-size: 45px;
color: #474747;
font-weight: 600;
margin-bottom: 5px;
}

#bannar .bannar_content h3 {

  font-size: 85px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 20px;
}
#bannar .bannar_content p {

  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
 .button{
  background-color: #FD6E0A;
  padding: 19px 17px 18px 51px;
 border: none;
 border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
 }
 .button_2{
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #FD6E0A;
  padding: 19px 23px 18px 58px;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
 }