*{max-width: 1600px;
margin: 0px auto;
padding: 0px;
box-sizing: border-box;}

/* share style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}

.color-orange{
  color: #FD6E0A;
}

.btn{
  background-color: #FD6E0A;
  padding: 18px 35px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  border: none;
  border-radius: 5px;

}

.section_heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section_heading h2{
  font-size: 35px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 30px;
}

.section_heading p{
  font-size: 18px;
  color: #757575;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 30px;
}

.text_center{
  text-align: center;
}
/* Main style */

header{
  background-color: #FFF8F3;
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
justify-content: space-between;
align-items: center;
}

nav .menu{
display: flex;
list-style-type: none;
gap: 51px;
align-items: center;
}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#bannar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 46px 38px 0px 230px;
}

#bannar .bannar_content{
  max-width: 585px;
}
#bannar .bannar_content h2 {
font-size: 45px;
color: #474747;
font-weight: 600;
margin-bottom: 5px;
}

#bannar .bannar_content h3 {

  font-size: 85px;
  color: #181818;
  font-weight: 700;
  margin-bottom: 20px;
}
#bannar .bannar_content p {

  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
 .button{
  background-color: #FD6E0A;
  padding: 19px 17px 18px 51px;
 border: none;
 border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
 }
 .button_2{
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  color: #FD6E0A;
  padding: 19px 23px 18px 58px;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
 }

 #bannar .bannar_image img{
  width: 584px;
  height: 676px;
  vertical-align: middle;
 }

 #about{
  padding-top: 130px;
 }

 #about .section_container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 157px;
 }

 #about .section_container .about_info{
  display: flex;
  justify-content: space-around;
 }

 .about_info .card_info p{
  font-size: 20px;
  color: #757575;
  line-height: 30px;
 }
 .about_info .card_info h4{
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  line-height: 30px;
 }

 #skills{
  padding-top: 130px;
 }

 #skills .skills_container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
 }

 #skills .skills_container .skills_box {
  display: flex;
  gap: 24px;

 }

 .skills_box .skills_card {
  padding: 30px 33px 30px 30px;
  max-width: 267px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px #0000002d;
 }

 .skills_box .skills_card img{
  max-width: 44px;
  margin-bottom: 30px;
 }
.skills_box .skills_card h3{
  font-size: 20px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.skills_box .skills_card p{
  max-width: 201px;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
#resume{
  padding-top: 130px;
}
#resume .resume_container{
  width: 71%;
  max-width: 1140px;
margin: 113px auto 0px;
display: flex;
gap: 24px;
}
.resume_container hr{
  margin: 30px 0px;
  color: #D1D1D1;
  font-weight: 1px;
  max-width: 558px;
}
.resume_container .section-title{
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 30px;
}
.card-container{
  max-width: 511px;
  margin-right: 47px;
}
.card-container .card_title{
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}

.card-container .card_info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.card-container .card_text{
max-width: 511px;
font-size: 16;
font-weight: 400;
color: #757575;
}
footer{
  margin-top: 113px;
  background-color: #FFF8F3;
padding: 130px 0px;
}

footer .footer_conatiner{
  display: flex;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 117px;
}

.footer_conatiner .social{
  max-width: 562px;
}
.footer_conatiner h2{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}

.footer_conatiner p{
  max-width: 562px;
  font-size: 16;
  font-weight: 400;
  line-height: 28px;
  color: #474747;
  margin-bottom: 30px;
}
.footer_conatiner .icon a{
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

.form .name{
  width: 461px;
  padding: 18px 349px 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
line-height: 28px;

}
.form .email{
  width: 461px;
  padding: 18px 349px 18px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
color: #757575;
line-height: 28px;
}

.form .text{
  width: 461px;
  padding: 18px 365px 134px 30px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
color: #757575;
line-height: 28px;
}